<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>test webpack vue base</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
</head>
<body>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
</body>
</html>